:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

.avatar-user {
  border-radius: 50% !important;
  border: solid 0.15em #00FF00;
}

.avatar-projects {
  border-radius: 50% !important;
}

body {
  margin: 0px;
  margin-left: 30px;
  background: var(--body-bg-color);
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

h1,
h2,
h3,
p,
li,
a {
  margin: 0px;
  color: var(--text-color);
  font-family: "Merriweather Sans", sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

aside {
  margin: 0px;
  width: 348px;
}

a {
  text-decoration: none;
  display: block;
}

main {
  margin-top: 30px;
  margin-right: 30px;
}

.profile {
  background: var(--bg-cards);
  width: 348px;
  margin-top: 30px;
  border-radius: 4px;
  text-align: center;
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.links {
  background: var(--bg-cards);
  width: 348px;
  margin-top: 30px;
  border-radius: 4px;
  padding: 32px;
  box-sizing: border-box;
}

.links ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.links li {
  display: flex;
  gap: 20px;
  align-items: center;
}

.technologies {
  background: var(--bg-cards);
  width: 348px;
  margin-top: 30px;
  border-radius: 4px;
  padding: 32px;
  box-sizing: border-box;
}

.technologies li {
  font-family: "Merriweather Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;  
}

.technologies-languages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  place-content: center;
  padding: 20px;
}

.technologies-languages li {
  background: var(--bg-techs);
  height: 24px;
  width: 86px;
  border-radius: 25px;
  box-sizing: border-box;
}

.experiences {
  background: var(--bg-cards);
  width: 348px;
  margin-top: 30px;
  border-radius: 4px;
  padding: 32px;
  box-sizing: border-box;
  display: flex;  
  gap: 20px;
  flex-direction: column;  
}

.experiences ul {
  display: flex;
  gap: 20px;
  align-items: left;
  flex-direction: column;
  list-style-type: circle;
  padding-left: 48px;
}

.education {
  background: var(--bg-cards);
  width: 348px;
  margin-top: 30px;
  border-radius: 4px;
  padding: 32px;
  box-sizing: border-box;  
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.education ul {
  display: flex;
  gap: 20px;
  align-items: left;
  flex-direction: column;
  list-style-type: circle;
  padding-left: 48px;
}

.projects {
  display: flex;
  justify-content: space-between;
  background: var(--bg-cards);
  align-items: center;
  padding: 24px;
  border-radius: 5px;
}

.projects-post {
  display: flex;
  justify-content: space-between;
  background: var(--bg-cards);
  align-items: center;
  padding: 24px;
  border-radius: 5px;
  margin-top: 30px;
}

.projects-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  gap: 20px;
}

.projects-detail div {
  background: var(--bg-cards);
  padding: 24px;
  border-radius: 5px;
}

.projects-img {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 30px;
  background: var(--bg-cards);
  padding: 24px;
  align-items: center;
}

footer {
  padding: 20px;
  text-align: center;
}

.li-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
}

.li-flex {
  display: flex;
  gap: 20px;
}

.ul-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.detail-javascript::before {
  content: "";
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  width: 15px;
  background: #E7DE79;
  border: 2px solid #837E9F;
  box-sizing: border-box;
}

.ul-flex-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.li-flex-2 {
  display: flex;
  gap: 16px;
}