:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

body {
    margin: 0px;
    background: var(--body-bg-color);
}
  
h1, h2, h3, p, li {
    margin: 0px;
    color: var(--text-color);
    font-family: 'Merriweather Sans', sans-serif;
}
  
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.profile {
    background: var(--bg-cards);
    height: 292px;
    width: 348px;
    margin-top: 30px;
    border-radius: 4px;
}

.profile h2::before {
    content: '';
    display: block;
    background: white;
    height: 128px;
    width: 128px;
    border-radius: 50%;
}

.container-profile {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.links {
    background: var(--bg-cards);
    height: 348px;
    width: 348px;
    margin-top: 30px;
    border-radius: 4px;
}

.links li {
    display: grid;
    grid-template-columns: 1fr 8fr;
    padding: 12px;
}

.technologies {
    background: var(--bg-cards);
    height: 208px;
    width: 348px;
    margin-top: 30px;
    border-radius: 4px;
}

.experiences {
    background: var(--bg-cards);
    height: 292px;
    width: 348px;
    margin-top: 30px;
    border-radius: 4px;
}

.education {
    background: var(--bg-cards);
    height: 292px;
    width: 348px;
    margin-top: 30px;
    border-radius: 4px;
}

.languages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    place-content: center;
    padding: 20px
    ;
}

.languages li {
    background: var(--bg-techs);
    height: 24px;
    width: 86px;
    padding: 5px 10px;
    border-radius: 4px;
}